@model FinacialInstrumentFormModel
@{
    ViewData["Title"] = "Edit financial instrument";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_FinInstrumentFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
