@model OrderFormModel
@{
    ViewData["Title"] = "Data for new order";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_OrderFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
