@model IndividualDataClentFormModel
@inject IClientService clientService

@{
    ViewData["Title"] = "Individual client";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_DataNewIndividualClientPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

