@model EmployeeFormModel
@{
    ViewData["Title"] = "Edit employee";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_EmployeeFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
