@{
    ViewData["Title"] = "DashBoard";
}

<div class="row">
    <div class="col-md-1">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">TradeForReview</h5>
                <p class="card-text">Please check for trade review.</p>
                <a asp-action="TradeForReview" class="btn btn-primary">For trade review</a>
            </div>
        </div>
    </div>
</div>